# Ignore everything
*

# Allow directories 
!*/

# Allow specific file types
!*.jsx
!*.css
# !*.svg

# Optional 
!*.html

!README.md

node_modules
public
.gitignore
eslint.config.js
package.json
package-lock.json
README.md
vite.config.js
